# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/
build/
dist/

# Databases
*.sqlite3
postgres_data/

# Environment variables
.env

# Docker logs
*.log

# Project specific
seed_data.py
todo.txt
entidades.txt
doc01.txt
